@inherits LayoutComponentBase
@inject RelayConnection NostrRelay

<div class="container">
    <div class="siteheader">
        <a class="logo" href="/">
            <p class="logo-text">
                <span>Nostr</span>Debug
            </p>
        </a>
        
        <div class="m-left-auto m-r-3">
            
            <span class="m-r-1">Relay </span>

            @if (NostrRelay.IsConnected)
            {
                <FluentIcon Name="@FluentIcons.CloudCheckmark" Size="@IconSize.Size24" Variant="@IconVariant.Regular" Color="@Color.Success" style="vertical-align: middle" />
            }
            else
            {
                <FluentIcon Name="@FluentIcons.CloudDismiss" Size="@IconSize.Size24" Variant="@IconVariant.Regular" Color="@Color.Error" style="vertical-align: middle" />
            }

        </div>

        <div class="git-repo">
            <a href="https://github.com/marfusios/nostr-client-websocket">Github Repository</a>
        </div>
    </div>
    <div class="main">
        <div class="navigation">
            <NavMenu />
        </div>

        <div class="content">
            <main>
                <article class="content px-4">
                   
                    <ErrorBoundary>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="ex">
                            <p class="error">@ex.Message</p>
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
            </main>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        NostrRelay.Communicator.ReconnectionHappened.Subscribe(_ => StateHasChanged());
        NostrRelay.Communicator.DisconnectionHappened.Subscribe(_ => StateHasChanged());

        base.OnInitialized();
    }

}
