@page "/keys"
@using Nostr.Client.Keys
@using Nostr.Client.Utils

<Stack Orientation="Orientation.Vertical">

    <PageHeader Title="Keys" Subtitle="Tools for Nostr public & private keys"></PageHeader>
    
    <h3><FluentIcon Name="@FluentIcons.New" Size="@IconSize.Size20" Variant="@IconVariant.Regular" Color="@Color.Neutral" /> New Keys</h3>

    <div class="conversion-group">
        
        <FluentButton Appearance="Appearance.Neutral" @onclick="OnGenerate" class="m-b-1">
            Generate
            <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Color="Color.Neutral" Variant="IconVariant.Regular"/>
        </FluentButton>
        
        @if (_generatedKeyPair != null)
        {
            <div>
                <strong>Private key: </strong>
                <ul class="keys">
                    <li>@_generatedKeyPair?.PrivateKey?.Bech32</li>
                    <li>@_generatedKeyPair?.PrivateKey?.Hex</li>
                </ul>
            </div>

            <div>
                <strong>Public key: </strong>
                <ul class="keys">
                    <li>@_generatedKeyPair?.PublicKey?.Bech32</li>
                    <li>@_generatedKeyPair?.PublicKey?.Hex</li>
                </ul>
            </div>
        }

    </div>
    
    <h3><FluentIcon Name="@FluentIcons.ArrowCircleRight" Size="@IconSize.Size20" Variant="@IconVariant.Regular" Color="@Color.Neutral" /> Derivation</h3>
    
    <div class="conversion-group">
        <FluentTextField Style="width: 100%" Placeholder="nsec1xxx or hex" ValueExpression="() => _privateKey" Value="@_privateKey" @oninput="PrivateKeySet" class="m-b-1">
            <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Color="Color.Neutral" />
            <strong>Private key</strong>
        </FluentTextField>

        @if (_derivedKeyPair != null)
        {
            <div>
                <ul class="keys">
                    <li>@_derivedKeyPair?.PrivateKey?.Bech32</li>
                    <li>@_derivedKeyPair?.PrivateKey?.Hex</li>
                </ul>
            </div>

            <div>
                <strong>Public key: </strong>
                <ul class="keys">
                    <li>@_derivedKeyPair?.PublicKey?.Bech32</li>
                    <li>@_derivedKeyPair?.PublicKey?.Hex</li>
                </ul>
            </div>
        }
    </div>

    <h3><FluentIcon Name="@FluentIcons.Shield" Size="@IconSize.Size20" Variant="@IconVariant.Regular" Color="@Color.Neutral" /> Signing</h3>
    
    <div class="conversion-group">
        <FluentTextField Style="width: 100%" Placeholder="npub1xxx or nsec1xxx" ValueExpression="() => _publicOrPrivateKeyForSignature" Value="@_publicOrPrivateKeyForSignature" @oninput="SignaturePrivateKeySet" class="m-b-1">
            <FluentIcon Name="@FluentIcons.Key" Slot="start" Size="@IconSize.Size16" Color="Color.Neutral"/>
            <strong>Public or private key</strong>
        </FluentTextField>
        
        <FluentTextField Style="width: 100%" Placeholder="hex" ValueExpression="() => _dataForSignature" Value="@_dataForSignature" @oninput="SignatureDataSet" class="m-b-1">
            <FluentIcon Name="@FluentIcons.Document" Slot="start" Size="@IconSize.Size16" Color="Color.Neutral" />
            <strong>Data</strong>
        </FluentTextField>
        
        <FluentTextField Style="width: 100%" Placeholder="hex" ValueExpression="() => _signature" Value="@_signature" @oninput="SignatureSet" class="m-b-2">
            <FluentIcon Name="@FluentIcons.Signature" Slot="start" Size="@IconSize.Size16" Color="Color.Neutral" />
            <strong>Signature</strong>
        </FluentTextField>
        
        <NostrSignatureValidator PublicOrPrivateKey="@_publicOrPrivateKeyForSignature" SignedData="@_dataForSignature" Signature="@_signature"></NostrSignatureValidator>

    </div>

</Stack>

@code
{
    NostrKeyPair? _generatedKeyPair;

    string? _privateKey;
    NostrKeyPair? _derivedKeyPair;

    string? _publicOrPrivateKeyForSignature;
    string? _dataForSignature;
    string? _signature;

    private void OnGenerate()
    {
        _generatedKeyPair = NostrKeyPair.GenerateNew();
    }

    private void PrivateKeySet(ChangeEventArgs args)
    {
        try
        {
            _privateKey = (string?)args.Value;
            NostrConverter.TryToHex(_privateKey, out var hex, out var hrp);
            var hexSafe = hex ?? _privateKey;
            if (string.IsNullOrWhiteSpace(hexSafe))
            {
                _derivedKeyPair = null;
                return;
            }

            _derivedKeyPair = NostrKeyPair.From(NostrPrivateKey.FromHex(hexSafe));
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to parse private key, error: {e.Message}");
            _derivedKeyPair = null;
        }
    }

    private void SignaturePrivateKeySet(ChangeEventArgs args)
    {
        try
        {
            _publicOrPrivateKeyForSignature = (string?)args.Value;
            ComputeSignature();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to parse private key, error: {e.Message}");
        }
    }

    private void SignatureDataSet(ChangeEventArgs args)
    {
        try
        {
            _dataForSignature = (string?)args.Value;
            ComputeSignature();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to parse data hex, error: {e.Message}");
        }
    }

    private void SignatureSet(ChangeEventArgs args)
    {
        try
        {
            _signature = (string?)args.Value;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to parse signature hex, error: {e.Message}");
        }
    }

    private void ComputeSignature()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_publicOrPrivateKeyForSignature) || string.IsNullOrWhiteSpace(_dataForSignature))
                return;

            if (!string.IsNullOrWhiteSpace(_signature))
                return;

            NostrConverter.TryToHex(_publicOrPrivateKeyForSignature, out var hex, out var hrp);
            if (hex == null || hrp != "nsec")
                return;

            var privateKey = NostrPrivateKey.FromHex(hex);
            _signature = privateKey.SignHex(_dataForSignature);
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to compute signature, error: {e.Message}");
        }
    }
}
