@using System.ComponentModel.DataAnnotations
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Nostr.Client.Json

<div>
    <PageHeader Title3="@_displayedEvent?.Kind.ToString()" DisplayBrowserTitle="false"></PageHeader>
    @if (_displayedEvent is NostrMetadataEvent or NostrContactEvent)
    {
        <pre>@FormatEventContent(_displayedEvent?.Content)</pre>
    }
    else
    {
        <p style="font-size: 18px">@FormatEventContent(_displayedEvent?.Content)</p>
    }
       
    @if (_displayedEvent?.Tags?.Any() == true)
    {
        <p>
            <strong>Tags</strong>
            <FluentTreeView>

                @foreach (var tag in _displayedEvent.Tags.GroupBy(x => x.TagIdentifier))
                {
                    <FluentTreeItem>
                        <span>@tag.Key <small>(@tag.SelectMany(x => x.AdditionalData).Count())</small></span>

                        @foreach (var otherTag in tag.SelectMany(x => x.AdditionalData))
                        {
                            <FluentTreeItem>
                                @switch (tag.Key)
                                {
                                    case "e":
                                        <div><a class="clear-link" href="@ExternalLinks.GetLinkToEvent(otherTag?.ToString())" target="_blank">@ExternalLinks.FormatToNote(otherTag?.ToString())</a></div>
                                        break;
                                    case "p":
                                        <div><a class="clear-link" href="@ExternalLinks.GetLinkToProfile(otherTag?.ToString())" target="_blank">@ExternalLinks.FormatToNpub(otherTag?.ToString())</a></div>
                                        break;
                                    default:
                                        <div><span>@otherTag</span></div>
                                        break;
                                }
                            </FluentTreeItem>
                        }

                    </FluentTreeItem>
                }
                    
            </FluentTreeView>
        </p>
    }

    <p>
        <strong>Created at</strong>
        <div>@_displayedEvent?.CreatedAt?.ToLocalTime().ToString("F")</div>
    </p>
    <p>
        <strong>Id</strong>
        @if (_displayedEvent?.Kind == NostrKind.ShortTextNote)
        {
            <div>@_displayedEvent?.Id</div>
            <div><a class="clear-link" href="@ExternalLinks.GetLinkToEvent(_displayedEvent?.Id)" target="_blank">@ExternalLinks.FormatToNote(_displayedEvent?.Id)</a></div>
        }
        else
        {
            <div>@_displayedEvent?.Id</div>
        }
    </p>
    <p>
        <strong>Author</strong>
        <div>@_displayedEvent?.Pubkey</div>
        <div><a class="clear-link" href="@ExternalLinks.GetLinkToProfile(_displayedEvent?.Pubkey)" target="_blank">@ExternalLinks.FormatToNpub(_displayedEvent?.Pubkey)</a></div>
    </p>
    
    @if (_eventJson == null)
    {
        <FluentButton Appearance="Appearance.Neutral" @onclick="OnDisplayJson">
            <FluentIcon Name="@FluentIcons.WindowDevTools" Size="@IconSize.Size16" Color="Color.Neutral" Slot="start" />
            Display JSON
        </FluentButton>
    }
    else
    {
        <pre>@_eventJson</pre>
    }

</div>

@code {
    private NostrEvent? _displayedEvent;
    private string? _eventJson;

    [Parameter]
    [Required]
    public NostrEvent? Event { get; set; } = new();

    protected override void OnParametersSet()
    {
        if (Event == null || !Event.Equals(_displayedEvent))
        {
            _eventJson = null;
            _displayedEvent = Event;
        }

        base.OnParametersSet();
    }

    private static string FormatEventContent(string? content)
    {
        if (string.IsNullOrWhiteSpace(content))
            return string.Empty;

        try
        {
            var parsed = JsonConvert.DeserializeObject<JObject>(content);
            return parsed?.ToString(Formatting.Indented) ?? content;
        }
        catch (Exception)
        {
            return content;
        }
    }

    private void OnDisplayJson()
    {
        if (_displayedEvent == null)
            return;

        var settings = NostrSerializer.Settings;
        settings.Formatting = Formatting.Indented;
        _eventJson = JsonConvert.SerializeObject(_displayedEvent, settings);
    }
}
